
@page "/signin"
@using Blazored.LocalStorage
@using SkolkaPerinka.Client.Providers
@inject NavigationManager navigationManager
@inject ILanguageContainerService language
@inject ISnackbar Snackbar

<PageTitle>Sign in</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
    @*<MudText Typo="Typo.h4">@language["Prihlaseni"]</MudText>*@
    <EditForm Model="_userToSignIn" OnValidSubmit="signInUser">
            <DataAnnotationsValidator/>
            <MudGrid>
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="@language["Email"]" Class="mt-3"
                                          @bind-Value="_userToSignIn.Email" For="@(() => _userToSignIn.Email)"/>
                            <MudTextField Label="@language["Heslo"]" Class="mt-3"
                                          @bind-Value="_userToSignIn.Password" For="@(() => _userToSignIn.Password)" InputType="InputType.Password"/>
                        </MudCardContent>
                        <MudPaper>
                            <MudPaper Elevation="0" Width="100%" Class="text-center">
                                <MudFab StartIcon="@Icons.Filled.FollowTheSigns" ButtonType="ButtonType.Submit" Color="Color.Info" Class="muj-button" Label="@language["Prihlasit"]"></MudFab>
                            </MudPaper>
                            <div class="flex">
                                <MudText Class="or-line"></MudText>
                                <MudText> or </MudText>
                                <MudText Class="or-line"></MudText>
                            </div>
                            <MudPaper Elevation="0" Width="100%" Class="text-center">
                                <MudFab StartIcon="@Icons.Filled.PersonAdd" Color="Color.Default" Class="muj-button" Label="@language["Registrovat"]" @onclick="RegisterUser"></MudFab>
                            </MudPaper>
                            <br />
                        </MudPaper>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="5">
                    <MudPaper Class="pa-4 mud-height-full">
                        <MudText Typo="Typo.subtitle2">@language["ChybyOvereni"] :</MudText>
                        @if (success)
                        {
                            <MudText Color="Color.Success">@language["Prihlasen"]</MudText>
                        }
                        else
                        {
                            <MudText Color="@Color.Error">
                                <ValidationSummary />
                            </MudText>
                        }
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </EditForm>
</MudContainer>

